<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.label "Заголовок" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "URL" %><br />
    <%= f.text_field :url %>
  </div>
  <div ng-app="blog">
    <div ng-init="categories_names=<%= Category.select('id, title').index_by(&:id).to_json %>; edited_category=<%= @post.category_id.to_json %>">
      <div ng-controller="blogCtrl" >
        <select ng-model="category" ng-options="value as value.title for (key , value) in categories_names" name='post[category_id]' >
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label "Активность" %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="controls">
    <%= f.label "Краткое описание" %><br />
    <%= f.cktext_area :short_description , rows: 7, cols: 10, class: 'span9',
                        :ckeditor => {:toolbar => "Mini"} %>
  </div>
  <div class="controls">
    <%= f.label "Контент" %><br />
    <%= f.cktext_area :content , rows: 7, cols: 10, class: 'span9',
                        :ckeditor => {:toolbar => "Mini"} %>
  </div>
  <div class="controls">
    <%= f.label "Рейтинг" %><br />
    <%= f.number_field :rating %>
  </div>
  

  <div class="control-group">
    <span class="control-label"></span>
    <div class="controls">
      <button type="submit" class="btn btn-primary">Отправить</button>
      <%= link_to 'Отмена', posts_path, class: 'btn btn-primary' %>
    </div>
  </div>


<% end %>
