<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.label "Тема" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="controls">
    <%= f.label "Краткое описание" %><br />
    <%= f.cktext_area :short_description , rows: 7, cols: 10, class: 'span9',
                        :ckeditor => {:toolbar => "Mini"} %>
  </div>
  <div class="controls">
    <%= f.label "Контент" %><br />
    <%= f.cktext_area :content , rows: 7, cols: 10, class: 'span9',
                        :ckeditor => {:toolbar => "Mini"} %>
  </div>
  <div class="controls">
    <%= f.label "Рейтинг" %><br />
    <%= f.number_field :rating %>
  </div>
  

  <div class="control-group">
    <span class="control-label"></span>
    <div class="controls">
      <button type="submit" class="btn btn-primary">Отправить</button>
      <%= link_to 'Отмена', posts_path, class: 'btn btn-primary' %>
    </div>
  </div>


<% end %>
